.dnd5e.sheet.actor.character {
  min-width: 890px;
  min-height: 900px;
  max-width: 890px;
  max-height: 900px;
  background: 50% transparent url(https://media-waterdeep.cursecdn.com/attachments/0/84/background_texture.png) no-repeat;
  background-size: cover;
  z-index: -2;
  font-family: Roboto, Helvetica, sans-serif;
  color: #242527;
}
.dnd5e.sheet.actor.character .editable .rollable:hover {
  text-shadow: 0 0 8px #c53131;
  color: #242527 !important;
}
.dnd5e.sheet.actor.character ::-webkit-scrollbar-thumb {
  border-color: transparent;
  background: #c53131;
}
.dnd5e.sheet.actor.character .window-resizable-handle {
  display: none;
}
.dnd5e.sheet.actor.character::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #26282a;
  z-index: -1;
  height: 122px;
}
.dnd5e.sheet.actor.character.minimized::before {
  height: 0;
}
.dnd5e.sheet.actor.character .window-header {
  background: #090809;
  border-bottom: 1px solid #c53131;
  color: #fff;
}
.dnd5e.sheet.actor.character .window-header .window-title {
  font-weight: bold;
}
.dnd5e.sheet.actor.character .window-content {
  background: transparent;
  max-width: 890px;
  margin: 0 auto;
  position: relative;
}
.dnd5e.sheet.actor.character .window-content form {
  overflow: initial;
}
.dnd5e.sheet.actor.character .sheet-header {
  border: none;
  margin: -5px 10px 0;
  max-height: 93px;
  position: relative;
  align-items: center;
}
.dnd5e.sheet.actor.character .sheet-header img.profile {
  border: 2px #c53131 solid;
  border-radius: 3px;
  flex: auto;
  max-width: 60px;
  height: 60px;
}
.dnd5e.sheet.actor.character .sheet-header .header-details {
  max-height: 93px;
}
.dnd5e.sheet.actor.character .sheet-header .header-details .charname {
  max-height: 52px;
  padding: 0;
  padding-top: 8px;
  margin-right: 109px;
}
.dnd5e.sheet.actor.character .sheet-header .header-details .charname input {
  color: #fff;
  font-family: Roboto Condensed, Roboto, Helvetica, sans-serif;
  font-size: 28px;
  margin: 0;
  height: auto;
  line-height: 1.2;
}
.dnd5e.sheet.actor.character .sheet-header .header-details .charlevel {
  max-height: 52px;
  color: #fff;
  flex: 0 0 300px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
}
.dnd5e.sheet.actor.character .sheet-header .header-details .charlevel .level {
  flex: 0 0 100px;
}
.dnd5e.sheet.actor.character .sheet-header .header-details .charlevel .level input {
  color: #fff;
}
.dnd5e.sheet.actor.character .sheet-header .header-details .charlevel .level.noxp {
  margin-top: -10px;
  flex: 100%;
  text-align: right;
}
.dnd5e.sheet.actor.character .sheet-header .header-details .charlevel .experience {
  flex: 0 0 170px;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 14px;
}
.dnd5e.sheet.actor.character .sheet-header .header-details .charlevel .experience input {
  text-align: right;
  color: #fff;
}
.dnd5e.sheet.actor.character .sheet-header .header-details .charlevel .experience .max {
  color: #838383;
}
.dnd5e.sheet.actor.character .sheet-header .header-details .charlevel .xpbar {
  flex: 100%;
}
.dnd5e.sheet.actor.character .sheet-header .header-details .charlevel .xpbar .bar {
  background: #c53131;
}
.dnd5e.sheet.actor.character .sheet-header .header-details .summary {
  border: none;
}
.dnd5e.sheet.actor.character .sheet-header .header-details .summary li {
  border: none;
  width: 130px;
}
.dnd5e.sheet.actor.character .sheet-header .header-details .summary li input,
.dnd5e.sheet.actor.character .sheet-header .header-details .summary li input::placeholder {
  color: #838383;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 14px;
}
.dnd5e.sheet.actor.character .sheet-header .header-details ul.attributes li.attribute {
  border: none;
  position: relative;
}
.dnd5e.sheet.actor.character .sheet-header .header-details ul.attributes li.attribute .attribute-name {
  border: none;
}
.dnd5e.sheet.actor.character .sheet-header .header-details ul.attributes li.attribute .attribute-value {
  margin-top: 0;
}
.dnd5e.sheet.actor.character .sheet-header .header-details ul.attributes li.attribute .attribute-value input {
  font-size: 22px;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 500;
}
.dnd5e.sheet.actor.character .sheet-header .header-details ul.attributes li.attribute:nth-child(1) {
  background: no-repeat 50% url(https://www.dndbeyond.com/Content/Skins/Waterdeep/images/character-sheet/content-frames/status.svg);
  position: absolute;
  top: 100px;
  right: 5px;
  height: 78px;
  width: 271px;
}
.dnd5e.sheet.actor.character .sheet-header .header-details ul.attributes li.attribute:nth-child(1)::after {
  content: '';
  position: absolute;
  left: 151px;
  border-right: 2px solid #c53131;
  z-index: 99;
  top: 3px;
  bottom: 3px;
}
.dnd5e.sheet.actor.character .sheet-header .header-details ul.attributes li.attribute:nth-child(1) .attribute-name,
.dnd5e.sheet.actor.character .sheet-header .header-details ul.attributes li.attribute:nth-child(1) .attribute-value,
.dnd5e.sheet.actor.character .sheet-header .header-details ul.attributes li.attribute:nth-child(1) .attribute-footer {
  width: 147px;
}
.dnd5e.sheet.actor.character .sheet-header .header-details ul.attributes li.attribute:nth-child(1) .attribute-name {
  line-height: 1.4;
  color: #000;
  text-transform: uppercase;
  font-family: Roboto Condensed, Roboto, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 12px;
}
.dnd5e.sheet.actor.character .sheet-header .header-details ul.attributes li.attribute:nth-child(2) {
  background: no-repeat 50% url(https://www.dndbeyond.com/Content/Skins/Waterdeep/images/character-sheet/content-frames/ac.svg);
  background-size: contain;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  height: 78px;
  right: 282px;
  width: 69px;
}
.dnd5e.sheet.actor.character .sheet-header .header-details ul.attributes li.attribute:nth-child(2) .attribute-name {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 0;
  line-height: 3.4;
  order: 2;
  color: #838383;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
}
.dnd5e.sheet.actor.character .sheet-header .header-details ul.attributes li.attribute:nth-child(2) .attribute-value {
  z-index: 2;
  margin-top: 26px;
  order: 1;
}
.dnd5e.sheet.actor.character .sheet-header .header-details ul.attributes li.attribute:nth-child(2) .attribute-value input {
  font-weight: 700;
}
.dnd5e.sheet.actor.character .sheet-header .header-details ul.attributes li.attribute:nth-child(2) .attribute-footer {
  display: none;
}
.dnd5e.sheet.actor.character .sheet-header .header-details ul.attributes li.attribute:nth-child(3) {
  background: no-repeat 50% url(https://www.dndbeyond.com/Content/Skins/Waterdeep/images/character-sheet/content-frames/speed.svg);
  background-size: contain;
  position: absolute;
  top: 100px;
  height: 78px;
  right: 355px;
  width: 82px;
}
.dnd5e.sheet.actor.character .sheet-header .header-details ul.attributes li.attribute:nth-child(3) .attribute-name {
  line-height: 1.4;
  color: #000;
  text-transform: uppercase;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 12px;
}
.dnd5e.sheet.actor.character .sheet-header .header-details ul.attributes li.attribute:nth-child(4) {
  position: absolute;
  top: 100px;
  right: 13px;
  width: 112px;
}
.dnd5e.sheet.actor.character .sheet-header .header-details ul.attributes li.attribute:nth-child(4) .attribute-name {
  line-height: 1.4;
  color: #000;
  text-transform: uppercase;
  font-family: Roboto Condensed, Roboto, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 12px;
}
.dnd5e.sheet.actor.character .sheet-header .header-details ul.attributes li.attribute:nth-child(4) .attribute-footer {
  position: absolute;
  top: -45px;
  right: -8px;
  display: block;
  width: 300px;
  padding-left: 10px;
}
.dnd5e.sheet.actor.character .sheet-header .header-details ul.attributes li.attribute:nth-child(4) .attribute-footer a {
  display: inline-block;
  border: 1px solid #c53131;
  border-radius: 3px;
  padding: 5px 13px 5px 35px;
  color: transparent;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Roboto, Helvetica, sans-serif;
  white-space: nowrap;
  width: calc(50% - 14px);
  position: relative;
}
.dnd5e.sheet.actor.character .sheet-header .header-details ul.attributes li.attribute:nth-child(4) .attribute-footer a.rest::before {
  content: '';
  height: 16px;
  width: 16px;
  position: absolute;
  left: 17px;
  top: 6px;
}
.dnd5e.sheet.actor.character .sheet-header .header-details ul.attributes li.attribute:nth-child(4) .attribute-footer a.rest::after {
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 5px 13px 5px 35px;
}
.dnd5e.sheet.actor.character .sheet-header .header-details ul.attributes li.attribute:nth-child(4) .attribute-footer a.short-rest::before {
  background: no-repeat url(https://www.dndbeyond.com/Content/Skins/Waterdeep/images/icons/menu_items/shortrest.svg);
}
.dnd5e.sheet.actor.character .sheet-header .header-details ul.attributes li.attribute:nth-child(4) .attribute-footer a.short-rest::after {
  content: 'Short Rest';
}
.dnd5e.sheet.actor.character .sheet-header .header-details ul.attributes li.attribute:nth-child(4) .attribute-footer a.long-rest::before {
  background: no-repeat url(https://www.dndbeyond.com/Content/Skins/Waterdeep/images/icons/menu_items/longrest.svg);
}
.dnd5e.sheet.actor.character .sheet-header .header-details ul.attributes li.attribute:nth-child(4) .attribute-footer a.long-rest::after {
  content: 'Long Rest';
}
.dnd5e.sheet.actor.character .sheet-header .header-details ul.attributes li.attribute:nth-child(4) .attribute-footer a:hover {
  text-shadow: none;
  background-color: #111;
}
.dnd5e.sheet.actor.character .sheet-navigation {
  position: absolute;
  top: 210px;
  left: 260px;
  width: 600px;
  z-index: 4;
}
.dnd5e.sheet.actor.character .sheet-navigation .item {
  line-height: 1.4;
  font-family: Roboto Condensed, Roboto, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  color: #838383;
  font-size: 12px;
  text-shadow: none;
  padding: 0;
  height: 19px;
  border-bottom-color: transparent;
}
.dnd5e.sheet.actor.character .sheet-navigation .item:hover {
  color: #000;
}
.dnd5e.sheet.actor.character .sheet-navigation .item.active {
  border-bottom-color: #c53131;
  color: #000;
}
.dnd5e.sheet.actor.character .sheet-body {
  min-width: 880px;
}
.dnd5e.sheet.actor.character .sheet-body ul.attributes li.attribute.resource {
  display: none;
}
.dnd5e.sheet.actor.character .sheet-body ul.attributes li.attribute.initiative {
  width: 85px;
  height: 92px;
  position: absolute;
  border: none;
  top: 0px;
  right: 320px;
}
.dnd5e.sheet.actor.character .sheet-body ul.attributes li.attribute.initiative .attribute-name {
  line-height: 1.4;
  color: #000;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  font-family: Roboto Condensed, Roboto, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3px;
  text-shadow: 1px 1px 0 #eaeaea, -1px -1px 0 #eaeaea, -1px 1px 0 #eaeaea, 1px -1px 0 #eaeaea;
}
.dnd5e.sheet.actor.character .sheet-body ul.attributes li.attribute.initiative .attribute-value {
  background: no-repeat url(https://www.dndbeyond.com/Content/Skins/Waterdeep/images/character-sheet/content-frames/initiative.svg);
  background-size: cover;
  width: 70px;
  height: 45px;
  margin: 0 auto;
}
.dnd5e.sheet.actor.character .sheet-body ul.attributes li.attribute.initiative .attribute-value span {
  line-height: 1.4;
  font-family: Roboto, Helvetica, sans-serif;
  color: #000;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -1px;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  width: 100%;
  display: block;
  padding-top: 4px;
}
.dnd5e.sheet.actor.character .sheet-body ul.attributes li.attribute.initiative .attribute-footer {
  color: #838383;
  font-size: 12px;
  font-family: Roboto Condensed, Roboto, Helvetica, sans-serif;
  margin-top: 2px;
}
.dnd5e.sheet.actor.character .sheet-body ul.attributes li.attribute.initiative .attribute-footer input {
  color: #838383;
  font-size: 12px;
  font-family: Roboto Condensed, Roboto, Helvetica, sans-serif;
}
.dnd5e.sheet.actor.character .sheet-body ul.attributes li.attribute .attribute-name {
  border: none;
}
.dnd5e.sheet.actor.character .sheet-body .ability-scores .ability input.ability-score:hover + .ability-modifiers {
  visibility: initial;
}
.dnd5e.sheet.actor.character .sheet-body ul.skills-list {
  padding: 40px 20px 80px !important;
  color: #000;
  background: 50% transparent url(https://www.dndbeyond.com/Content/Skins/Waterdeep/images/character-sheet/content-frames/skills.svg) no-repeat;
  background-size: contain;
  flex: 0 0 239px !important;
  border: none !important;
  margin: 0 5px;
  position: relative;
}
.dnd5e.sheet.actor.character .sheet-body ul.skills-list::after {
  content: 'Skills';
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 1.4;
  color: #000;
  font-family: Roboto Condensed, Roboto, Helvetica, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}
.dnd5e.sheet.actor.character .sheet-body ul.skills-list li.skill {
  height: 30px !important;
  padding: 0;
}
.dnd5e.sheet.actor.character .sheet-body ul.skills-list li.skill:first-child .skill-proficiency::before,
.dnd5e.sheet.actor.character .sheet-body ul.skills-list li.skill:first-child .skill-ability::before,
.dnd5e.sheet.actor.character .sheet-body ul.skills-list li.skill:first-child .skill-name::before,
.dnd5e.sheet.actor.character .sheet-body ul.skills-list li.skill:first-child .skill-mod::before {
  line-height: 1.4;
  font-weight: 700;
  text-transform: uppercase;
  color: #838383;
  font-family: Roboto Condensed, Roboto, Helvetica, sans-serif;
  font-size: 10px;
  text-shadow: none !important;
  position: absolute;
  top: 20px;
}
.dnd5e.sheet.actor.character .sheet-body ul.skills-list li.skill:first-child .skill-proficiency::before {
  left: 18px;
  content: 'Prof';
}
.dnd5e.sheet.actor.character .sheet-body ul.skills-list li.skill:first-child .skill-ability::before {
  left: 50px;
  content: 'Mod';
}
.dnd5e.sheet.actor.character .sheet-body ul.skills-list li.skill:first-child .skill-name::before {
  left: 90px;
  content: 'Skill';
}
.dnd5e.sheet.actor.character .sheet-body ul.skills-list li.skill:first-child .skill-mod::before {
  left: 190px;
  content: 'Bonus';
}
.dnd5e.sheet.actor.character .sheet-body ul.skills-list li.skill .skill-proficiency {
  order: 1;
  flex: 0 0 30px !important;
  padding: 5px 2px;
}
.dnd5e.sheet.actor.character .sheet-body ul.skills-list li.skill .skill-ability {
  order: 2;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #838383;
  flex: 0 0 40px !important;
  padding: 5px 0;
}
.dnd5e.sheet.actor.character .sheet-body ul.skills-list li.skill .skill-name {
  order: 3;
  border-bottom: 1px solid #d8d8d8;
  padding: 5px 0;
  font-family: Roboto Condensed, Roboto, Helvetica, sans-serif;
  font-size: 14px;
}
.dnd5e.sheet.actor.character .sheet-body ul.skills-list li.skill .skill-mod {
  order: 4;
  font-weight: 700;
  padding: 5px 0;
  border-bottom: 1px solid #d8d8d8;
}
.dnd5e.sheet.actor.character .sheet-body ul.skills-list li.skill .skill-passive {
  display: none;
}
.dnd5e.sheet.actor.character .sheet-body ul.ability-scores {
  padding: 10px 5px;
  justify-content: flex-start;
}
.dnd5e.sheet.actor.character .sheet-body ul.ability-scores li.ability {
  background: 50% transparent url(https://www.dndbeyond.com/Content/Skins/Waterdeep/images/character-sheet/content-frames/abilityscore.svg) no-repeat;
  background-size: contain;
  height: 78px;
  border: none;
  max-width: 66px;
  position: relative;
  margin: 0 2px;
}
.dnd5e.sheet.actor.character .sheet-body ul.ability-scores li.ability .ability-name {
  color: transparent !important;
  text-shadow: none !important;
  position: absolute;
  border-bottom: none !important;
  max-width: 50px;
}
.dnd5e.sheet.actor.character .sheet-body ul.ability-scores li.ability .ability-modifiers {
  margin-top: 26px;
  padding-left: 4px;
}
.dnd5e.sheet.actor.character .sheet-body ul.ability-scores li.ability .ability-modifiers .ability-mod,
.dnd5e.sheet.actor.character .sheet-body ul.ability-scores li.ability .ability-modifiers .ability-save,
.dnd5e.sheet.actor.character .sheet-body ul.ability-scores li.ability .ability-modifiers .ability-save::before {
  line-height: 1.4;
  font-family: Roboto, Helvetica, sans-serif;
  cursor: pointer;
  text-align: center;
  color: #242527;
  font-weight: normal;
  font-size: 18px;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  display: inline;
  border: none;
}
.dnd5e.sheet.actor.character .sheet-body ul.ability-scores li.ability .ability-modifiers .ability-save::before {
  content: '|';
  padding: 0 2px;
}
.dnd5e.sheet.actor.character .sheet-body ul.ability-scores li.ability .ability-modifiers .ability-proficiency {
  position: absolute;
  top: 1px;
  left: 12px;
}
.dnd5e.sheet.actor.character .sheet-body ul.ability-scores li.ability .ability-score {
  line-height: 1.4;
  font-family: Roboto, Helvetica, sans-serif;
  color: #000;
  text-align: center;
  position: absolute;
  font-weight: 700;
  left: 0;
  right: 0;
  font-size: 16px;
  bottom: -1px;
  height: auto;
  width: 100%;
}
.dnd5e.sheet.actor.character .sheet-body ul.ability-scores li.ability::before {
  line-height: 1.4;
  text-align: center;
  color: #838383;
  text-transform: uppercase;
  font-family: Roboto Condensed, Roboto, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 12px;
  position: absolute;
  left: 10px;
  right: 0;
  top: 8px;
}
.dnd5e.sheet.actor.character .sheet-body ul.ability-scores li.ability[data-ability=str]::before {
  content: 'Str';
}
.dnd5e.sheet.actor.character .sheet-body ul.ability-scores li.ability[data-ability=dex]::before {
  content: 'Dex';
}
.dnd5e.sheet.actor.character .sheet-body ul.ability-scores li.ability[data-ability=con]::before {
  content: 'Con';
}
.dnd5e.sheet.actor.character .sheet-body ul.ability-scores li.ability[data-ability=int]::before {
  content: 'Int';
}
.dnd5e.sheet.actor.character .sheet-body ul.ability-scores li.ability[data-ability=wis]::before {
  content: 'Wis';
}
.dnd5e.sheet.actor.character .sheet-body ul.ability-scores li.ability[data-ability=cha]::before {
  content: 'Cha';
}
.dnd5e.sheet.actor.character .sheet-body .tab.attributes {
  display: flex;
}
.dnd5e.sheet.actor.character .sheet-body .tab.attributes .center-pane {
  width: 614px;
  height: 650px;
  max-height: 650px;
  background: 50% transparent url(https://www.dndbeyond.com/Content/Skins/Waterdeep/images/character-sheet/content-frames/content-box-tall.svg) no-repeat;
  background-size: cover;
  margin-top: 4px;
  padding: 45px 25px 5px;
  flex: 0 0 614px;
}
.dnd5e.sheet.actor.character .sheet-body .tab.attributes .center-pane .traits {
  padding: 10px 0;
  overflow-y: auto;
  height: calc(100% - 50px);
}
.dnd5e.sheet.actor.character .sheet-body .tab.attributes .center-pane .traits .form-group {
  justify-content: flex-start;
  margin-right: 10px;
}
.dnd5e.sheet.actor.character .sheet-body .tab.attributes .center-pane .traits .form-group label {
  color: #838383;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  flex: 0 0 400px;
  order: 0;
}
.dnd5e.sheet.actor.character .sheet-body .tab.attributes .center-pane .traits .form-group .traits-list {
  order: 2;
}
.dnd5e.sheet.actor.character .sheet-body .tab.attributes .center-pane .traits .form-group .traits-list li {
  border: none;
  font-family: Roboto Condensed, Roboto, Helvetica, sans-serif;
  background: transparent;
  padding: 0;
  margin: 0;
  font-size: 13px;
}
.dnd5e.sheet.actor.character .sheet-body .tab.attributes .center-pane .traits .form-group .traits-list li:not(:last-child)::after {
  content: ', ';
}
.dnd5e.sheet.actor.character .sheet-body .tab.attributes .center-pane .traits .form-group .trait-selector,
.dnd5e.sheet.actor.character .sheet-body .tab.attributes .center-pane .traits .form-group .configure-flags,
.dnd5e.sheet.actor.character .sheet-body .tab.attributes .center-pane .traits .form-group select {
  order: 1;
  text-align: right;
  flex: 1;
  padding-right: 15px;
}
.dnd5e.sheet.actor.character .sheet-body .tab.attributes .center-pane .traits .form-group .trait-selector:hover,
.dnd5e.sheet.actor.character .sheet-body .tab.attributes .center-pane .traits .form-group .configure-flags:hover,
.dnd5e.sheet.actor.character .sheet-body .tab.attributes .center-pane .traits .form-group select:hover {
  text-shadow: none;
}
.dnd5e.sheet.actor.character .sheet-body .tab.attributes .center-pane .traits .form-group .trait-selector i.fas,
.dnd5e.sheet.actor.character .sheet-body .tab.attributes .center-pane .traits .form-group .configure-flags i.fas,
.dnd5e.sheet.actor.character .sheet-body .tab.attributes .center-pane .traits .form-group select i.fas {
  float: none;
  color: #c53131;
}
.dnd5e.sheet.actor.character .sheet-body .tab.attributes .center-pane .traits .form-group .trait-selector i.fas:hover,
.dnd5e.sheet.actor.character .sheet-body .tab.attributes .center-pane .traits .form-group .configure-flags i.fas:hover,
.dnd5e.sheet.actor.character .sheet-body .tab.attributes .center-pane .traits .form-group select i.fas:hover {
  color: #9c2727;
  text-shadow: none;
}
.dnd5e.sheet.actor.character .sheet-body .tab.attributes .center-pane .traits .form-group input,
.dnd5e.sheet.actor.character .sheet-body .tab.attributes .center-pane .traits .form-group .traits-list {
  text-align: left;
  flex: 100%;
}
.dnd5e.sheet.actor.character .sheet-body .tab.attributes .center-pane .traits .form-group + .form-group {
  border-top: 1px solid #d8d8d8;
  margin-top: 10px;
  padding-top: 10px;
}
.dnd5e.sheet.actor.character .sheet-body .tab.attributes:not(.active) .center-pane .counters,
.dnd5e.sheet.actor.character .sheet-body .tab.attributes:not(.active) .center-pane .traits {
  display: none;
}
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook,
.dnd5e.sheet.actor.character .sheet-body .tab.features,
.dnd5e.sheet.actor.character .sheet-body .tab.inventory,
.dnd5e.sheet.actor.character .sheet-body .tab.biography {
  position: absolute;
  top: 195px;
  left: 254px;
  width: 614px;
  height: 650px;
  max-height: 650px;
  overflow-y: auto;
  background: 50% transparent url(https://www.dndbeyond.com/Content/Skins/Waterdeep/images/character-sheet/content-frames/content-box-tall.svg) no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 45px 25px 5px;
}
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook::before,
.dnd5e.sheet.actor.character .sheet-body .tab.features::before,
.dnd5e.sheet.actor.character .sheet-body .tab.inventory::before,
.dnd5e.sheet.actor.character .sheet-body .tab.biography::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  z-index: -1;
  background: 50% transparent url(https://www.dndbeyond.com/Content/Skins/Waterdeep/images/character-sheet/content-frames/content-box-tall.svg) no-repeat;
  background-position: top;
  background-size: 100%;
}
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook::after,
.dnd5e.sheet.actor.character .sheet-body .tab.features::after,
.dnd5e.sheet.actor.character .sheet-body .tab.inventory::after,
.dnd5e.sheet.actor.character .sheet-body .tab.biography::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  z-index: -1;
  background: 50% transparent url(https://www.dndbeyond.com/Content/Skins/Waterdeep/images/character-sheet/content-frames/content-box-tall.svg) no-repeat;
  background-position: bottom;
  background-size: 100%;
}
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .filter-list,
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook .filter-list,
.dnd5e.sheet.actor.character .sheet-body .tab.features .filter-list {
  margin: 10px -5px;
  padding-bottom: 0;
  display: flex;
  justify-content: flex-start;
}
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .filter-list .filter-title,
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook .filter-list .filter-title,
.dnd5e.sheet.actor.character .sheet-body .tab.features .filter-list .filter-title {
  display: none;
}
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .filter-list .filter-item,
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook .filter-list .filter-item,
.dnd5e.sheet.actor.character .sheet-body .tab.features .filter-list .filter-item {
  flex-grow: 0;
  font-family: Roboto Condensed, Roboto, Helvetica, sans-serif;
  cursor: pointer;
  color: #838383;
  line-height: 1;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  margin: 3px 2px;
  border-radius: 3px;
  padding: 5px 7px;
  white-space: nowrap;
  border-bottom: none;
}
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .filter-list .filter-item:hover,
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook .filter-list .filter-item:hover,
.dnd5e.sheet.actor.character .sheet-body .tab.features .filter-list .filter-item:hover {
  text-shadow: none;
  background-color: #5d5d5d;
  color: #f2f2f2;
}
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .filter-list .filter-item.active,
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook .filter-list .filter-item.active,
.dnd5e.sheet.actor.character .sheet-body .tab.features .filter-list .filter-item.active {
  color: #fff;
  background-color: #c53131;
}
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .filter-list .filter-item.active:hover,
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook .filter-list .filter-item.active:hover,
.dnd5e.sheet.actor.character .sheet-body .tab.features .filter-list .filter-item.active:hover {
  background-color: #9c2727;
}
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .inventory-list,
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook .inventory-list,
.dnd5e.sheet.actor.character .sheet-body .tab.features .inventory-list {
  margin: 0 0 10px;
}
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .inventory-list .inventory-header,
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook .inventory-list .inventory-header,
.dnd5e.sheet.actor.character .sheet-body .tab.features .inventory-list .inventory-header {
  border-color: transparent;
  border-bottom: 1px solid #eaeaea;
  background: none;
  margin-bottom: 10px;
}
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .inventory-list .inventory-header:not(:first-child),
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook .inventory-list .inventory-header:not(:first-child),
.dnd5e.sheet.actor.character .sheet-body .tab.features .inventory-list .inventory-header:not(:first-child) {
  margin-top: 25px;
}
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .inventory-list .inventory-header .item-name,
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook .inventory-list .inventory-header .item-name,
.dnd5e.sheet.actor.character .sheet-body .tab.features .inventory-list .inventory-header .item-name,
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .inventory-list .inventory-header .item-detail,
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook .inventory-list .inventory-header .item-detail,
.dnd5e.sheet.actor.character .sheet-body .tab.features .inventory-list .inventory-header .item-detail,
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .inventory-list .inventory-header .item-controls,
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook .inventory-list .inventory-header .item-controls,
.dnd5e.sheet.actor.character .sheet-body .tab.features .inventory-list .inventory-header .item-controls,
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .inventory-list .inventory-header .spell-comps,
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook .inventory-list .inventory-header .spell-comps,
.dnd5e.sheet.actor.character .sheet-body .tab.features .inventory-list .inventory-header .spell-comps,
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .inventory-list .inventory-header .spell-school,
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook .inventory-list .inventory-header .spell-school,
.dnd5e.sheet.actor.character .sheet-body .tab.features .inventory-list .inventory-header .spell-school,
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .inventory-list .inventory-header .spell-action,
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook .inventory-list .inventory-header .spell-action,
.dnd5e.sheet.actor.character .sheet-body .tab.features .inventory-list .inventory-header .spell-action,
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .inventory-list .inventory-header .spell-slots,
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook .inventory-list .inventory-header .spell-slots,
.dnd5e.sheet.actor.character .sheet-body .tab.features .inventory-list .inventory-header .spell-slots,
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .inventory-list .inventory-header .spell-target,
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook .inventory-list .inventory-header .spell-target,
.dnd5e.sheet.actor.character .sheet-body .tab.features .inventory-list .inventory-header .spell-target {
  line-height: 1.4;
  color: #000;
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
  outline: 0;
  width: 140px;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Roboto Condensed, Roboto, Helvetica, sans-serif;
  padding: 5px 0;
  border-color: transparent;
}
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .inventory-list .inventory-header .item-name,
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook .inventory-list .inventory-header .item-name,
.dnd5e.sheet.actor.character .sheet-body .tab.features .inventory-list .inventory-header .item-name {
  font-size: 13px;
  color: #c53131;
}
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .inventory-list .item-list .item,
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook .inventory-list .item-list .item,
.dnd5e.sheet.actor.character .sheet-body .tab.features .inventory-list .item-list .item {
  border-bottom: transparent;
  padding: 5px 0;
}
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .inventory-list .item-list .item .item-image,
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook .inventory-list .item-list .item .item-image,
.dnd5e.sheet.actor.character .sheet-body .tab.features .inventory-list .item-list .item .item-image {
  background-repeat: no-repeat;
  border: 1px solid #c53131;
  border-radius: 3px;
  background-size: cover;
}
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .inventory-list .item-list .item .item-name h4,
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook .inventory-list .item-list .item .item-name h4,
.dnd5e.sheet.actor.character .sheet-body .tab.features .inventory-list .item-list .item .item-name h4 {
  line-height: 1;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .inventory-list .item-list .item .item-name:hover .item-image:hover,
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook .inventory-list .item-list .item .item-name:hover .item-image:hover,
.dnd5e.sheet.actor.character .sheet-body .tab.features .inventory-list .item-list .item .item-name:hover .item-image:hover {
  background-image: url(/icons/svg/d20-highlight.svg) !important;
}
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .inventory-list .item-list .item .spell-comps,
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook .inventory-list .item-list .item .spell-comps,
.dnd5e.sheet.actor.character .sheet-body .tab.features .inventory-list .item-list .item .spell-comps {
  display: none;
}
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .inventory-list .item-list .item .item-detail,
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook .inventory-list .item-list .item .item-detail,
.dnd5e.sheet.actor.character .sheet-body .tab.features .inventory-list .item-list .item .item-detail,
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .inventory-list .item-list .item .spell-comps,
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook .inventory-list .item-list .item .spell-comps,
.dnd5e.sheet.actor.character .sheet-body .tab.features .inventory-list .item-list .item .spell-comps,
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .inventory-list .item-list .item .spell-school,
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook .inventory-list .item-list .item .spell-school,
.dnd5e.sheet.actor.character .sheet-body .tab.features .inventory-list .item-list .item .spell-school,
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .inventory-list .item-list .item .spell-action,
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook .inventory-list .item-list .item .spell-action,
.dnd5e.sheet.actor.character .sheet-body .tab.features .inventory-list .item-list .item .spell-action,
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .inventory-list .item-list .item .spell-slots,
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook .inventory-list .item-list .item .spell-slots,
.dnd5e.sheet.actor.character .sheet-body .tab.features .inventory-list .item-list .item .spell-slots,
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .inventory-list .item-list .item .spell-target,
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook .inventory-list .item-list .item .spell-target,
.dnd5e.sheet.actor.character .sheet-body .tab.features .inventory-list .item-list .item .spell-target {
  border-color: transparent;
}
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .inventory-list .item-list .item + .item,
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook .inventory-list .item-list .item + .item,
.dnd5e.sheet.actor.character .sheet-body .tab.features .inventory-list .item-list .item + .item {
  border-top: 1px dotted #eaeaea;
}
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .inventory-list .item-control:not(.item-toggle),
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook .inventory-list .item-control:not(.item-toggle),
.dnd5e.sheet.actor.character .sheet-body .tab.features .inventory-list .item-control:not(.item-toggle),
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .inventory-list .item-control.item-toggle.active,
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook .inventory-list .item-control.item-toggle.active,
.dnd5e.sheet.actor.character .sheet-body .tab.features .inventory-list .item-control.item-toggle.active {
  color: #c53131;
}
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .inventory-list .item-control:hover,
.dnd5e.sheet.actor.character .sheet-body .tab.spellbook .inventory-list .item-control:hover,
.dnd5e.sheet.actor.character .sheet-body .tab.features .inventory-list .item-control:hover {
  text-shadow: none;
  color: #9c2727;
}
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .currency .denomination {
  content: ' ';
  height: 21px;
  width: 21px;
  color: transparent;
  background: url(https://www.dndbeyond.com/Content/Skins/Waterdeep/images/sprites/currency-sprite.png) no-repeat;
  background-size: auto 21px;
  margin-right: 8px;
}
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .currency .denomination.pp {
  background-position: 0 0;
}
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .currency .denomination.gp {
  background-position: -22px 0;
}
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .currency .denomination.ep {
  background-position: -43px 0;
}
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .currency .denomination.sp {
  background-position: -64px 0;
}
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .currency .denomination.cp {
  background-position: -86px 0;
}
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .currency input {
  box-sizing: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  line-height: normal;
  font-family: Roboto Condensed, Roboto, Helvetica, sans-serif;
  background-color: #fff;
  background: #fff none;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #000;
  padding: 4px;
  transition: 0.2s linear border, 0.2s linear box-shadow;
  width: 100%;
  text-align: center;
}
.dnd5e.sheet.actor.character .sheet-body .tab.inventory .encumbrance .encumbrance-bar {
  background: #c53131;
  border-color: #9c2727;
}
.dnd5e.sheet.actor.character input {
  box-shadow: none;
  border-color: transparent;
}
.dnd5e.sheet.actor.character input:hover,
.dnd5e.sheet.actor.character input:focus {
  border-color: #c53131;
}
#chat-log .message {
  background: none;
  background-size: cover;
  font-family: Roboto, Helvetica, sans-serif;
  border: none;
  padding: 0 10px;
  margin: 20px 5px 35px;
  position: relative;
}
#chat-log .message.whisper {
  background: none;
  border: none;
}
#chat-log .message.whisper .whisper-to {
  color: #9c2727;
}
#chat-log .message header,
#chat-log .message div {
  z-index: 2;
}
#chat-log .message .message-header .message-sender {
  font-weight: 700;
}
#chat-log .message .message-content {
  max-height: 540px;
  overflow-y: auto;
  text-align: justify;
  padding: 0 5px;
}
#chat-log .message::before {
  content: ' ';
  background: no-repeat url(https://www.dndbeyond.com/Content/Skins/Waterdeep/images/character-sheet/content-frames/content-box-tall.svg);
  background-size: 100%;
  background-position: top;
  position: absolute;
  left: 0;
  right: 0;
  height: calc(50% + 15px);
  top: -15px;
  z-index: -1;
}
#chat-log .message::after {
  content: ' ';
  background: no-repeat url(https://www.dndbeyond.com/Content/Skins/Waterdeep/images/character-sheet/content-frames/content-box-tall.svg);
  background-size: 100%;
  background-position: bottom;
  position: absolute;
  height: calc(50% + 15px);
  left: 0;
  right: 0;
  bottom: -15px;
  z-index: -1;
}
#chat-form {
  background-size: cover;
  padding: 0 15px;
  margin: 20px 0;
  position: relative;
}
#chat-form textarea {
  background: none;
  border: none;
  outline: none;
  z-index: 2;
}
#chat-form textarea:focus {
  outline: none;
  box-shadow: none;
}
#chat-form::before {
  content: '';
  background: no-repeat url(https://www.dndbeyond.com/Content/Skins/Waterdeep/images/character-sheet/content-frames/stats.svg);
  background-size: 100%;
  background-position: top;
  position: absolute;
  left: 0;
  right: 0;
  height: calc(50% + 15px);
  top: -15px;
  z-index: -1;
}
#chat-form::after {
  content: '';
  background: no-repeat url(https://www.dndbeyond.com/Content/Skins/Waterdeep/images/character-sheet/content-frames/stats.svg);
  background-size: 100%;
  background-position: bottom;
  position: absolute;
  height: calc(50% + 15px);
  left: 0;
  right: 0;
  bottom: -15px;
  z-index: -1;
}
